/* Menghilangkan menu aktivasi cius akademi */
li#toplevel_page_akademi-lisensi {
    display: none !important;
}

/* Menghilangkan menu wpstar admin */
a.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-generic.toplevel_page__wpstroptions.waves-effect.waves-button.waves-float.waves-ripple,
a.wp-not-current-submenu.menu-top.menu-icon-generic.toplevel_page_wpstr_permission_settings.menu-top-last.waves-effect.waves-button.waves-float.waves-ripple,
a.wp-has-submenu.wp-has-current-submenu.wp-menu-open.menu-top.menu-icon-generic.toplevel_page__wpstroptions.waves-effect.waves-button.waves-float.waves-ripple,
a.wp-has-submenu.wp-has-current-submenu.wp-menu-open.menu-top.menu-icon-generic.toplevel_page__wpstroptions.waves-effect.waves-button.waves-float.waves-ripple * {
    display: none !important;
}

/* Menghilangkan tulisan di bagian footer panel admin */
#adminmenuwrap .logo-overlay,
#wpfooter,
.auto-fold #adminmenuwrap:before {
    display: none !important;
}

/* Menghilangkan menu di bagian sidebar panel admin */
div#adminmenuwrap ul#adminmenu li:nth-child(n+24),
div#screen-meta-links {
    display: none !important;
}

/* Membuat border di semua inputan dan textarea*/
textarea,
input {
    border: 2px solid #dfdfdf !important;
    padding-left: 10px !important;
}

/* Askimet iklan aktivasi */
.wp-admin div#akismet_setup_prompt form {
    display: none !important;
}